# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.next
out
dist
build

.env
.env.local
.env.production

*.log
*.txt
*.pdf
*.db
*.sqlite
*.gguf

courses
data
backups
docs

ai_agent

.vercel
.firebase

coverage